<div>
    <select [(ngModel)]="ruinaActual" (change)="manejarSeleccionRuina()">
        <option *ngFor="let r of ruinas" [ngValue]="r">{{r.nombre}}</option>
    </select>
</div>

<div>
    <select [(ngModel)]="seleccion" (change)="getAreasAdyacentes()">
        <option [ngValue]="{_id: -1, nombre: '', descripcion: '', descripcionAlt: '', areaPrev: [], areaSig: [], ruina: -1}" selected>Nueva Area...</option>
        <option *ngFor="let a of areas" [ngValue]="a">{{a.nombre}} - {{a.descripcionAlt}}</option>
    </select>
</div>

<div>
    <label>Nombre:
        <input [(ngModel)]="seleccion.nombre" placeholder="nombre">
    </label>
    <label>Descripción:
        <input [(ngModel)]="seleccion.descripcion" placeholder="descripción">
    </label>
    <label>Descripción Alterna:
        <input [(ngModel)]="seleccion.descripcionAlt" placeholder="alterna">
    </label>
    <p>{{mensaje}}</p>
    <button (click) = "manejarSeleccionArea()">Crear/Editar Area</button>
</div>
<div>
    <label>Areas siguientes:
        <ul>
            <li *ngFor="let a of seleccion.areaSig">{{a.nombre}}</li>
        </ul>
        <select [(ngModel)]="asignacion">
            <option [ngValue]="{_id: -1, nombre: '', descripcion: '', descripcionAlt: '', areaPrev: [], areaSig: [], ruina: -1}" selected>Ninguna</option>
            <option *ngFor="let a of areas" [ngValue]="a">{{a.nombre}} - {{a.descripcionAlt}}</option>
        </select>
        <button (click) = "asignarArea()">Asignar área</button>
        <button (click) = "removerArea()">Remover área</button>
    </label>
    <label>Areas previas:
        <ul>
            <li *ngFor="let a of seleccion.areaPrev">{{a.nombre}}</li>
        </ul>
    </label>
</div>
