/*********************************
1. General
*********************************/

.sidebar_recent
{
	margin-bottom: 58px;
	margin-left: 2%;
}

/*********************************
2. Menu de ruinas
*********************************/

.sidebar_title
{
	font-size: 20px;
	color: #1c1c1c;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.recent_post
{
	margin-bottom: 27px;
}

.recent_post_content
{
	margin-left: 19px;
}

.recent_post_content:hover
{
	background-color: #d2d4d8;
}

.recent_post_title
{
	color: #343434;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}

.recent_post_date
{
	font-size: 11px;
	text-transform: uppercase;
	color: #9a9a9a;
	letter-spacing: 0.075em;
	margin-top: 2px;
}

.recent_post_image
{
  overflow: hidden;
  margin: 2px, 2px, 2px, 2px;
  width: 32px;
  height: 32px;
}

.recent_post_image img
{
	width: 100%;
  	height: auto;
}

/*********************************
3. Menu de areas
*********************************/

.btn-area
{
	background-color: #FFFFFF;
	border-color: #000000;
	border-width: 3px;
	color: #000000;
	text-transform: uppercase;
}

.btn-area:hover
{
	background-color: #000000;
	color: #FFFFFF;
}

/*********************************
4. Menu del recorrido
*********************************/

.btn-contenido
{
	background-color: rgb(216, 71, 71);
	border-radius: 25%;
	width: 50px;
	height: 50px;
}

.btn-contenido:hover
{
	background-color: rgb(148, 48, 48);
	border-radius: 100%;
}

.btn-refuerzo
{
	background-color: rgb(58, 223, 93);
	border-radius: 25%;
	width: 50px;
	height: 50px;
}

.btn-refuerzo:hover
{
	background-color: rgb(39, 155, 64);
	border-radius: 100%;
}

.btn-evaluacion
{
	background-color: rgb(88, 90, 245);
	border-radius: 25%;
	width: 50px;
	height: 50px;
}

.btn-evaluacion:hover
{
	background-color: rgb(63, 65, 172);
	border-radius: 100%;
}

/*********************************
5. Informacion del Nodo
*********************************/

.info-nodo
{
	background-color: #f8f1d2;
	border: solid black 2px;
	font-size: 28px;
	text-align: center;
}

.info-nodo span
{
	color: #444343;
	font-size: 45px;
	text-transform: uppercase;
}

.info-nodo p
{
	color: #000000;
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
}

.info-nodo button
{
	margin-bottom: 2%;
	background-size: 50px auto 50px auto;
	width: 50px;
	height: 50px;
	font-size: 12px;
}